.div {
    border-radius: 50%;
    border: 5px solid black;
    height: 300px;
    width: 300px;
    float: right;
    margin-top: 100px;
    margin-right: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#img {
    position: absolute;
    scale: 2;
}

#imgG {
    margin-top: 100px;
    margin-left: 100px;
}